<div class="filter-form">
  <%= form_tag '/search', method: 'get', remote: true, id: 'filter' do %>
    <!-- venues -->
    <!-- <div class="filter-container">
      <div class="filter-header">
        <p class="capital-gray">AGENCIES</p>
      </div>
      <%# @venues.each do |venue| %>
        <div class="element">
          <%#= check_box_tag "address[#{venue[0]}]", 1, false, class: 'address-filter checkbox' %>
          <span class="filter"></span>
          <%#= label_tag "address[#{venue[0]}]", venue[0], class: 'no-margin-bottom' %>
        </div>
      <%# end %>
    </div> -->

    <!-- status -->
    <div class="filter-container">
      <div class="filter-header">
        <p class="capital-gray">AGENCIES</p>
      </div>
      <div class="element">
        <%= check_box_tag "agency[PADI]", 1, false, class: 'pending-filter checkbox' %>
        <span class="filter"></span>
        <%= label_tag 'agency[PADI]', 'PADI', class: 'no-margin-bottom' %>
      </div>
      <div class="element">
        <%= check_box_tag "agency[SDI]", 1, false, class: 'confirmed-filter checkbox' %>
        <span class="filter"></span>
        <%= label_tag 'agency[SDI]', 'SSI', class: 'no-margin-bottom' %>
      </div>
      <div class="element">
        <%= check_box_tag "agency[SSI]", 1, false, class: 'cancelled-filter checkbox' %>
        <span class="filter"></span>
        <%= label_tag 'agency[SSI]', 'SSI', class: 'no-margin-bottom' %>
      </div>
    </div>

    <%= submit_tag 'submit', :id => 'submit' %>
  <% end %>
</div>

<div id="test"></div>

<%#= content_tag :div,
  id: "dive_center_data",
  data: @dive_centers.to_json do %>
<%# end %>


<%# @dive_centers.each do |dc| %>
<!--   <div class="dive-center">
    <p><%#= dc.name %></p>
    <%# location = dc.location %>
    <p><%#= location.city %></p>
    <p><%#= location.country %></p>
  </div> -->
<%# end %>
